:root {
  --primary-color: #708871;
  --second-color: #fef3e2;
  --heading-font-family: "Playfair", serif;
  --body-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--body-font-family);
  padding: 100px 0;
}

h1,
h2 {
  margin: 0;
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 100px;
  font-weight: bold;
}

h2 {
  font-size: 64px;
  font-weight: bold;
}

.nav-section {
  background-color: #fff;
  padding: 30px 45px;
}

nav h5 a {
  font-family: "Pacifico", cursive;
  margin: 0;
  font-size: 30px;
  color: var(--primary-color);
}

nav a {
  text-decoration: none;
  color: #000000;
  transition: all 100ms ease-in-out;
}

nav a:hover {
  color: var(--primary-color);
  font-weight: 600;
}

a.active {
  color: #4a634c;
  font-weight: 400;
}

nav ul {
  margin: 0;
}

nav li {
  display: inline;
  padding-left: 10px;
  font-weight: 500;
  vertical-align: middle;
}

.hero {
  background-color: #84a08536;
  padding: 160px 20px;
  text-align: center;
}

.hero h2 {
  font-size: 24px;
  opacity: 0.7;
}

.content-section {
  padding: 60px 20px;
}

.content {
  padding: 15px;
}

.content h1 {
  font-size: 80px;
  line-height: 68px;
}

.content h2 {
  font-size: 25px;
}

.content h3 {
  font-size: 24px;
}

.content p a {
  color: var(--primary-color);
}

.navi-link {
  display: flex;
  justify-content: center;
  margin-top: 38px;
}

.primary-link {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  background-color: var(--primary-color);
  color: var(--second-color);
  padding: 15px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 150ms ease-in-out;
}

.primary-link:hover {
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid var(--primary-color);
  text-decoration: underline;
  font-weight: bold;
}

.project-desciption {
  padding: 40px 60px;
}

.phone-number {
  color: var(--primary-color);
  text-decoration: underline;
}

footer {
  padding-top: 75px;
}

footer .links a {
  margin: 0 20px;
  font-size: 25px;
  text-decoration: none;
  color: var(--primary-color);
  background-color: #84a08513;
  padding: 5px 8px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .links a:hover {
  color: white;
  background-color: var(--primary-color);
}

footer p {
  font-size: 14px;
}

footer p a {
  color: var(--primary-color);
  font-weight: 500;
}

/* media changes*/

@media (max-width: 568px) {
  body {
    padding: 50px 0;
  }

  h1 {
    font-size: 60px;
    line-height: 1.5;
  }

  h2 {
    font-size: 45px;
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  .nav-section {
    padding: 25px 15px;
  }

  nav ul {
    padding: 0;
  }

  nav li {
    font-size: 15px;
  }

  p {
    text-align: center;
    font-size: 14px;
  }

  .content-section {
    padding: 80px 10px;
  }

  .content h1 {
    text-align: center;
    font-size: 55px;
    line-height: 45px;
  }

  .content h2 {
    text-align: center;
    font-size: 17px;
  }

  .project-desciption {
    padding: 20px 30px;
  }

  .primary-link {
    padding: 10px 15px;
    font-size: 15px;
    display: block;
    text-align: center;
  }
}
