:root {
  --primary-color: #708871;
  --second-color: #fef3e2;
  --heading-font-family: "Playfair", serif;
  --body-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--body-font-family);
  padding-bottom: 120px;
}

h1,
h2 {
  margin: 0;
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 100px;
  font-weight: bold;
}

h2 {
  font-size: 64px;
  font-weight: bold;
}

.hero {
  background-color: #84a08536;
  padding: 160px 20px;
  text-align: center;
}

.hero h2 {
  font-size: 24px;
  opacity: 0.7;
}

.navi-links {
  display: flex;
  justify-content: center;
  margin-top: 38px;
}

.primary-link {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  background-color: var(--primary-color);
  color: var(--second-color);
  padding: 15px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.primary-link:hover {
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid var(--primary-color);
  text-decoration: underline;
  font-weight: bold;
  transition: all 200ms ease-in-out;
}

.project-desciption {
  padding: 40px 60px;
}

/* About Page 
.homepage {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
}

.about-paragraph {
  margin: 30px 0;
}

.about-paragraph p {
  margin: 10px;
}

.email {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 25px;
}

.email:hover {
  text-decoration: underline;
}
  */

/* media changes*/

@media (max-width: 768px) {
  h1 {
    font-size: 60px;
    line-height: 1.5;
  }

  h2 {
    font-size: 45px;
    text-align: center;
  }

  p {
    text-align: center;
    font-size: 15px;
  }

  .project-desciption{
    padding: 20px 30px;
  }

  .primary-link {
    padding: 10px 15px;
    font-size: 15px;
    display: block;
    text-align: center;
  }
}
